
.title {
    font-weight: bold;
    
}
h1 {
    color: darkcyan;
    margin-left: 10px;
}


a, ul, li {
    font-size: large;
    color: darkred;
    text-decoration: none;
    margin: 10px;
}

img {
    height: auto;
    width: 500px;
}